.container-main {
    background-color: #f0f3f1;
    margin-left: 4em;
    margin-right: 4em;
    padding-top: 5px;
    padding-bottom: 0;
    padding-right: 0;
    padding-left: 0;
    width: auto;
}
.navbar-brand {
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    height: auto;
    color: #000000!important;
}
.navbar-default .navbar-brand:hover{
    background-color: rgba(255,255,255,0.5); /* Changes toggle color on hover */
}
.navbar-default {
    margin-left: 4em;
    margin-right: 4em;
    margin-bottom: 0;
    padding-bottom: 0px;
    background-color: #FF6600;
    min-height: 10px;
}
.hrfooter {
  margin-top: 20px;
  margin-bottom: 10px;
  border-top: 3px solid #FF6600;
}
.borderless {
    border-top: 0px!important;
    color: #828282;
}

.navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-default .navbar-toggle {
  border-color: transparent; /* Removes border color */
  float: right; /* Move navbar toggle to left */
  margin-top: 0;
  margin-bottom: 0;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #000000; /* Changes regular toggle color */
}
.navbar-default .navbar-toggle:hover {
  background-color: rgba(255,255,255,0.5); /* Changes toggle color on hover */
}

.navbar-default .navbar-toggle:focus {
  background-color: rgba(255,255,255,0.5); /* Changes toggle color on hover */
}

@media (max-width: 768px) {
  .container-main {
    margin: 0;
    padding: 0;
    padding-top: 5px;
  }
  .navbar-default {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
  }
}
