<div class="container" ng-repeat="comment in comments">
    <h1 class="titol">
        <a ng-if="connected=='true'" href="#" ng-click="likeComment(comment.id)" class="enFila"><img src= "../../../assets/images/up.png"></img></a>
        {{ comment.text }}
    </h1>
  <h1 class="info">
      {{ comment.points }} points by
      <a ng-href="users/{{ comment.user_id }}"><h1 class="info enFila">{{ comment.nom }}</h1></a> {{getTime(comment.created_at)}} ago
  </h1>
  <h1 class="info"><a ng-href="comments/{{comment.id}}"> reply </a></h1>
</div>
