<div class="container">
  <div>
    <h1 class="info"> {{ comment.points }} points by
        <a ng-href="users/{{ comment.user_id }}"><h1 class="info enFila">{{ comment.nom }}</h1></a>
         {{getTime(comment.created_at)}} ago </h1>
    <h1 class="titol"> {{ comment.text }}</h1>
  </div>
  <br>
  <div ng-if="connected=='true'">
    <form ng-submit="newReply()" class="form-group">
      <br>
      <textarea class="form-control" rows="3" ng-model="commentData.text"></textarea>
      <br>
      <button type="submit" class="btn btn-default">Add Reply</button>
      <br>
    </form>
  </div>
  <div ng-if="connected=='false'">
    <textarea class="form-control" rows="3" ng-model="commentData.text"></textarea>
    <h2>Per comentar cal estar logejat!</h2>
  </div>
</div>