<!--<div>
  <table border="0"> 
    <tbody>
      <tr> <td> {{ submission.title }} </td></tr>
      <tr> <td> {{ submission.points }} points by {{ submission.nom }} {{ submission.created_at}} hours ago | {{ submission.comments.length }} comments 
      </td></tr>
      <tr> <td> {{ submission.text }}</td></tr>
      <tr> 
        <form> 
          <input type="hidden" name="id">
          <textarea name="text"></textarea>
          <input type="submit" name="addComment">
        </form>
      </tr>
    </tbody>
  </table> 
  <table>
    <tbody>
      <tr ng-repeat="comment in submission.comments">
        <td>{{ comment.nom }} {{ comment.created_at }} hours ago</td>
        <td> {{ comment.text }} </td>
        <tr ng-repeat="reply in comment.replies">
          <td>{{ comment.nom }} {{ comment.created_at }} hours ago</td>
          <td> {{ comment.text }} </td>
        </tr>
      </tr>
    </tbody>
  </table>
</div>-->

<div>
  <div>
    <h1> {{ submission.title }} </h1>
    <h2> {{ submission.points }} points by {{ submission.nom }} {{ submission.created_at}} hours ago | {{ submission.comments.length }} comments </h2>
    <h2> {{ submission.text }}</h2>
  </div>
  <div>
    <form> 
      <input type="hidden" name="id">
      <textarea name="text"></textarea>
      <input type="submit" name="addComment">
    </form>
  </div>
  <div>
    <div ng-repeat="comment in submission.comments">
      <h2>{{ comment.nom }} {{ comment.created_at }} hours ago</h2>
      <h2> {{ comment.text }} </h2>
      <div ng-repeat="reply in comment.replies">
        <h2>{{ comment.nom }} {{ comment.created_at }} hours ago</h2>
        <h2> {{ comment.text }} </h2>
      </div>
    </div>
  </div>
</div>