
<div>
  <div>
    <h1 class="titol"> {{ submission.title }} </h1>
    <h1 class="info"> {{ submission.points }} points by {{ submission.nom }} {{ submission.created_at}} hours ago | {{ submission.comments.length }} comments </h1>
    <h1 class="titol"> {{ submission.text }}</h1>
  </div>
  <div>
    <form>
      <input type="hidden" name="id">
      <textarea name="text"></textarea>
      <input type="submit" name="addComment">
    </form>
  </div>
  <div>
    <div ng-repeat="comment in submission.comments">
      <h1 class="info">{{ comment.nom }} {{ comment.created_at }} hours ago</h1>
      <h1 class="titol"> {{ comment.text }} </h1>
      <div ng-repeat="reply in comment.replies">
        <h1 class="info">{{ reply.nom }} {{ reply.created_at }} hours ago</h1>
        <h1 class="titol"> {{ reply.text }} </h1>
      </div>
    </div>
  </div>
</div>
