<div>
  <form >
      <div>
        title:   <input type="text" name="title">
      </div>
      <div>
        url:   <input type="text" name="url">
      </div>
      <div>or</div>
      <div>
        text:    <textarea name="text"></textarea>
      </div>
      <div>
        <button type="submit" ng-click="postNew(title, text, url)"> submit </button>
      </div>
  </form>
</div>


<!--<form>
      <input type="text" ng-model="formData.desc" placeholder="Enter desc" />
      <input type="text" ng-model="formData.title" placeholder="Enter title" />
      <button type="submit" class="btn btn-primary" ng-click="sub()">Submit</button>
</form>-->
