
<div class="container">
  <div>

    <h1 class="titol"><a href="#" ng-click="likeSubmission()" class="enFila"><img src= "../../../assets/images/up.png"></img></a>
        {{ submission.title }}
    </h1>
    <h1 class="info">
        {{ submission.points }} points by
    <a ng-href="users/{{ submission.user_id }}">{{ submission.nom }}</a>
    {{ correctData}} ago | {{ submission.comments.length }} comments </h1>
    <h1 class="titol"> {{ submission.text }}</h1>
  </div>
  <div>
    <form>
      <input type="hidden" name="id">
      <textarea name="text"></textarea>
      <input type="submit" name="addComment" value="Add Comment">
    </form>
  </div>
  <div>
    <div ng-repeat="comment in submission.comments">
      <h1 class="info"><a href="#" ng-click="likeComment(comment.id)" class="enFila"><img src= "../../../assets/images/up.png"></img></a>
          {{ comment.points }} points by
          <a ng-href="users/{{ comment.user_id }}">{{ comment.nom }}</a> <script> getTime({{comment.created_at}}) </script> hours ago</h1>
      <h1 class="titol"> {{ comment.text }} </h1>

      <div class="container" ng-repeat="reply in comment.replies">
        <h1 class="info"> <a href="#" ng-click="likeReply(reply.id)" class="enFila"><img src= "../../../assets/images/up.png"></img></a>
            {{ reply.points }} points by
            <a ng-href="users/{{ reply.user_id }}"> {{ reply.nom }} </a> XXX hours ago</h1>
        <h1 class="titol"> {{ reply.text }} </h1>
      </div>

    </div>
  </div>
</div>
