<div>
  <div ng-repeat="submission in submissions">
    <div class = "container">
      <h1 class="num enFila"> {{size - submission.id}}. </h1>
      <a href="#" class="enFila"><img src= "../../../assets/images/up.png"></img></a>
      <a href="#" class="enFila"><h1 class = "titol"> {{ submission.title }}</h1></a>
    </div>

    <div class="container">
      <h1 class = "info enFila"> {{ submission.points }} points by </h1>
      <a href="#" ><h1 class = "info enFila"> {{ submission.nom }}</h1>
      <a href="#" ><h1 class = "info enFila"> <script> getTime({{ submission.created_at }})</script> hours ago </h1>
    </div>
  </div>
</div>
