<div>
	<div ng-repeat="submission in submissions">
		<div class="col-md-12">
			<h1 class="titol"> {{size - submission.id}}. </h1>
			<a href="#"><img src= "../../../assets/images/up.png"></img></a>
			<a href="#"><h1 class = "titol"> {{ submission.title }}</h1></a>
		</div>
      <a href="#"><h1 class = "titol">{{size - submission.id}}. {{ submission.title }}</h1></a>
		  <h1 class = "info"> {{ submission.points }} points by {{ submission.nom }} {{ submission.created_at }} hours ago </h1>
  </div>
</div>
