<div class="taulaEsquerra">
  <table class="tableSub">
    <tbody>
        <tr ng-repeat="aux in threads.comments">
          <tr>
            <td>
              XXX point(s) by {{ aux.nom }} {{ aux.created_at }} hours ago
            </td>
          </tr>
          <tr>
            <td>
              {{ aux.text }}
            </td>
          </tr>
          <tr>
            <a href="#"> reply
            </a>
          </tr>
        </tr>
    </tbody>
  </table>
</div>
<div class="taulaDreta">
  <table class="tableSub">
    <tbody>
        <tr ng-repeat="aux in threads.replies">
          <tr>
            <td>
              XXX point(s) by {{ aux.nom }} {{ aux.created_at }} hours ago
            </td>
          </tr>
          <tr>
            <td>
              {{ aux.text }}
            </td>
          </tr>
        </tr>
    </tbody>
  </table>
</div>