<div>
  <table>
    <tbody>
      <tr>
        <td><p>user:</p></td>
        <td>{{ user.name }}</td>
      </tr>
      <tr>
        <td><p>created:</p></td>
        <td>{{ user.created_at }}</td>
      </tr>
      <tr>
        <form>
          <table>
            <tbody>
              <tr><td>About</td></tr>
              <tr><td><textarea></textarea></td></tr>
              <tr><td><input type="submit" name="addSubmission"></td></tr>
            </tbody>
          </table>
        </form>
      </tr>
    </tbody>
  </table>
  <br>
  <div>
      <p><a ng-href="/users/{{ user.id }}/submissions"> Submissions </a></p>
      <p><a ng-href="/users/{{ user.id }}/comments"> Comments </a></p>
  </div>
</div>
