<div class="container">
  <div class="row text-center">
      <h6 class="titol col-sm-2">user:</h6>
      <h6 class="titol col-sm-3">{{ user.name }}</h6>
  </div>
  <div class="row text-center">
      <h6 class="titol col-sm-2">created:</h6>
      <h6 class="titol col-sm-3">{{getTime(user.created_at)}} ago</h6>
  </div>
  <div ng-if="user.id==userid" class="row text-center"> <!-- fer el ngif -->
      <h6 class="titol col-sm-2">Api KEY:</h6>
      <h6 class="titol col-sm-3">{{ token }}</h6>
  </div>
  <div>
    <p>{{user.about}}</p>
  </div>
  <form ng-submit="edit()">
    <div ng-if="user.id==userid" class="row text-center">
        <h6 class="titol col-sm-2">about:</h6>
        <h6 class="titol col-sm-3" ng-model="subData.about"><textarea>{{user.about}}</textarea></h6>
    </div>
    <div ng-if="user.id!=userid" class="row text-center">
        <h6 class="titol col-sm-2">about:</h6>
        <h6 class="titol col-sm-3" ng-model="subData.about">{{user.about}}</h6>
    </div>
    <div ng-if="user.id==userid" class="row text-center">
        <div class="col-sm-3 col-sm-offset-2">
          <input type="submit" name="addSubmission" value="Update About">
        </div>
    </div>
  </form>
  <br>
  <div class = "row text-center">
      <div class="col-sm-3 col-sm-offset-2">
          <a ng-href="/users/{{ user.id }}/submissions"> Submissions </a>
      </div>
  </div>
  <div class = "row text-center">
      <div class="col-sm-3 col-sm-offset-2">
          <a ng-href="/users/{{ user.id }}/comments">Comments </a>
      </div>
  </div>
</div>
