<div class="container">
  <div class="row text-center">
      <h6 class="titol col-sm-2">user:</h6>
      <h6 class="titol col-sm-3">{{ user.name }}</h6>
  </div>
  <div class="row text-center">
      <h6 class="titol col-sm-2">created:</h6>
      <h6 class="titol col-sm-3">{{ user.created_at }}</h6>
  </div>
  <form ng-submit="edit()">
    <div class="row text-center">
        <h6 class="titol col-sm-2">about:</h6>
        <h6 class="titol col-sm-3" ng-model="subData.about"><textarea></textarea></h6>
    </div>
    <div class="row text-center">
        <div class="col-sm-2 col-sm-offset-2">
          <input type="submit" name="addSubmission">
        </div>
    </div>
  </form>
  <br>
  <div class = "row text-center">
      <div class="col-sm-2 col-sm-offset-2">
          <a ng-href="/users/{{ user.id }}/submissions"> Submissions </a>
      </div>
  </div>
  <div class = "row text-center">
      <div class="col-sm-2 col-sm-offset-2">
          <a ng-href="/users/{{ user.id }}/comments">Comments </a>
      </div>
  </div>
</div>
